{% extends "layout/main.html.twig" %}

{% block title %}{% trans %}Home{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
	<h1>It works!</h1>
	<p>Welcome to the axelandre42's server website! Its goal is written on <a href="https://github.com/Axelandre42/website">the repository</a></p>
	<p>You can help to translate it by going on <a href="https://github.com/Axelandre42/website-translations">this repository</a></p>
	<p>Under contruction!</p>
{% endblock %}
